apache-airflow==3.2.1
apache-airflow-providers-amazon

pyspark==3.5.6
pandas<3.0
numpy
requests
boto3
botocore
psycopg2-binary
sqlalchemy
pyarrow
python-dotenv
pyyaml
PyYAML
types-PyYAML
pytest
pytest-cov